section.user_info {
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
section.user_info.gravatar {
    float: none;
    max-width: 70px;
}
section.user_info.h3 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
}
.gravatar {
    max-width: 50px;
    border-radius: 50%;
}
